:root {
    --primary-color: rgba(247, 162, 29, 1);
    --secondary-color: rgba(234, 87, 39, 1);
    --background-color: rgb(46, 54, 67);
    --placeholder: rgba(44,44,44,0.9);
    --primary-font: "Montserrat", "sans-serif";
    --secondary-font: "Montserrat", "sans-serif";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{   
    font-family: var(--primary-font);
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/backgroundcolor.png );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    overflow-x: hidden; 
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

* { 
    font-family: var(--secondary-font);
}

p {
    line-height: 2;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h2,h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #333;
}

/* Utility */

.pagebreak-1,
.pagebreak-2,
.pagebreak-3  {
    position: relative;
    z-index: 2;
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.gap {
    height: 2px;
}

/* Navigation */
#main-nav { 
    padding: 0 20rem;
}

#main-nav .nav-container {
    padding: 1rem;
}

#main-nav .nav-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-nav a span {
    color: var(--primary-color);
}

#main-nav .nav-heading {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


#main-nav h1 {
    color: #fff;
}

#main-nav ul {
    display: flex;
}

#main-nav ul li {
    margin-right: 3rem;
}

/* Overview */

#overview {
    color: #fff;
    position: relative;
}

#overview:before {
    content: '';
    background: url(../img/whistles_background.jpg) no-repeat center top/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#overview .overview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

#main-nav .nav-container {
    position: relative;
    z-index: 1;
}

#overview .overview-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

#overview .overview-content * {
    text-align: center;
}

#overview .overview-content h1 {
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#overview .overview-content p {
    text-align: left;
}

/* Lore */

#lore .lore-container img {
    margin: auto;
    width: 35%;
    box-shadow: 5px 5px 10px;
}

#lore .lore-container h1 {
    font-size: 2rem;
    color: var(--primary-color);
    padding-bottom: 1rem;
}

#lore .lore-container {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}


/* Layers */

#layers h1 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}


#layers .layers-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#layers .layers-content > img {
    width: 50%;
    border: 3px solid #fff;
    border-radius: 10px;
}

#layers .layers-content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#layers .layers-content .abyss {
    height: 500px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    width: 100%;
}

#layers .layers-content .abyss > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#layers .abyss h3 {
    padding-bottom: 2rem;
}
#layers .abyss p {
    width: 70%;
    text-align: left;
}

.second-layer div,
.fourth-layer div {
    grid-column: 2 / span 1;
}

.first-layer {
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/abyss_showcase_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.second-layer {
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/layers/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.third-layer {
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/layers/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fourth-layer {
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/layers/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fifth-layer {
    background-image: radial-gradient(circle, rgb(255, 0, 0, 0),rgba(0,0,0)),url(../img/layers/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Footer */

#main-footer {
    background: #191919;
}

#main-footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

#main-footer .footer-container p,
#main-footer .footer-container > div a {
    color: #999;
    font-size: 1rem;
    text-align: center;
    text-shadow: none;
}

#main-footer .footer-container div i {
    margin-right: 2rem;
    margin-top: 1rem;
}