:root {
    --primary-color: rgba(247, 162, 29, 1);
    --secondary-color: rgba(234, 87, 39, 1);
    --background-color: rgb(46, 54, 67);
    --placeholder: rgba(44,44,44,0.9);
    --primary-font: "Montserrat", "sans-serif";
    --secondary-font: "Montserrat", "sans-serif";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{   
    font-family: var(--primary-font);
    background: #191919;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    overflow-x: hidden; 
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

* { 
    font-family: var(--secondary-font);
}

p {
    line-height: 2;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h2,h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #333;
}

/* Utility */

.pagebreak-1,
.pagebreak-2,
.pagebreak-3  {
    position: relative;
    z-index: 2;
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.gap {
    height: 2px;
}

/* Navigation */
#main-nav { 
    padding: 0 20rem;
}

#main-nav .nav-container {
    padding: 1rem;
}

#main-nav .nav-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-nav a span {
    color: var(--primary-color);
}

#main-nav .nav-heading {
    font-size: 1.5rem;
    font-weight: bold;
}


#main-nav h1 {
    color: #fff;
}

#main-nav ul {
    display: flex;
}

#main-nav ul li {
    margin-right: 3rem;
}

/* Overview */

#overview {
    color: #fff;
    background: #333;
    position: relative;
}

#overview:before {
    content: '';
    background: url(../img/overview_showcase.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#overview .overview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

#main-nav .nav-container {
    position: relative;
    z-index: 1;
}

#overview .overview-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

#overview .overview-content * {
    text-align: center;
}

#overview .overview-content h1 {
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#overview .overview-content p {
    text-align: left;
}


/* Footer */
#main-footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

#main-footer .footer-container p,
#main-footer .footer-container > div a {
    color: #999;
    font-size: 1rem;
    text-align: center;
    text-shadow: none;
}

#main-footer .footer-container div i {
    margin-right: 2rem;
    margin-top: 1rem;
}

#artifacts {
    background: var(--background-color);
}

#artifacts .artifacts-container {
    padding: 2rem 5rem;
}

#artifacts .artifacts-content {
    text-align: center;
}

#artifacts .artifacts-content p {
    padding-bottom: 5rem;
}

#artifacts .artifacts-content .images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#artifacts .artifacts-content .images div {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    border-radius: 25px;
    box-shadow: 5px 5px 10px;
}

#artifacts .first-grade {
    height: 60vh;
}

